<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="SystemUserDAO"
		class="com.linkage.module.gwms.system.dao.SystemUserDAO"
		scope="prototype">
		<property name="dao">
			<ref bean="mainDataSource" />
		</property>
	</bean>
	<bean id="SystemUserBIO"
		class="com.linkage.module.gwms.system.bio.SystemUserBIO"
		scope="prototype">
		<property name="dao">
			<ref bean="SystemUserDAO" />
		</property>
	</bean>
	<bean id="SystemUserACT"
		class="com.linkage.module.gwms.system.act.SystemUserACT"
		scope="prototype">
		<property name="bio">
			<ref bean="SystemUserBIO" />
		</property>
	</bean>
</beans>
