<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="FluxReportDAO" class="dao.report.FluxReportDAO" scope="prototype">
		<property name="dao">
			<ref bean="mainDataSource" />
		</property>
	</bean>
	<bean id="FluxReportAction" class="action.report.FluxReportAction" scope="prototype">
		<property name="fluxReport">
			<ref local="FluxReportDAO"/>
		</property>
	</bean>
	<bean id="PerformanceReportDAO" class="dao.report.PerformanceReportDAO" scope="prototype">
		<property name="dao">
			<ref bean="mainDataSource" />
		</property>
	</bean>
	<bean id="PerformanceReportAction" class="action.report.PerformanceReportAction" scope="prototype">
		<property name="performance">
			<ref local="PerformanceReportDAO"/>
		</property>
	</bean>
</beans>