

.echarts {
    margin-top: 10px;
	width: 100%;
    float: left;
    height: 50%;
    border-radius: 10px;
    background-color: #E8E1D7;
}





.echartsname {
    color: #000;
    font-size: 16px;
    margin-left: 10px;
}